<template>
  <div>
    <el-row style="margin-bottom: 20px">
      <el-col :span="6">
        <el-card class="box-card">
          <a href="/api/getLabeled" class="el-button el-button--info">导出</a>
          <el-button @click="dialogFormVisible=true">添加用户</el-button>
          <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
            <el-form :model="form">
              <el-form-item label="用户名" :label-width="'120px'">
                <el-input v-model="form.name" auto-complete="on"></el-input>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取消</el-button>
              <el-button type="primary" @click="onAddUser">确定</el-button>
            </div>
          </el-dialog>

          <p>总数：
            <el-tag>{{all}}</el-tag>
            当前标注：
            <el-tag>{{labeled}}</el-tag>
          </p>
          <el-progress :text-inside="true" :stroke-width="30"
                       :percentage="parseInt(labeled/all*10000)/100"></el-progress>
          <p>机器标注正确：
            <el-tag type="success">{{correct}}</el-tag>
          </p>
          <el-progress type="circle" :percentage="parseInt(correct/labeled*10000)/100"></el-progress>
          <p>机器标注错误：
            <el-tag type="danger">{{wrong}}</el-tag>
          </p>
          <el-progress type="circle" :percentage="parseInt(wrong/labeled*10000)/100"
                       status="exception"></el-progress>
        </el-card>
      </el-col>
    </el-row>
    <el-row>
      <el-col v-for="(user,index) in users" :span="6" :key="index">
        <el-card class="box-card">
          <p>
            用户ID
            <el-tag>{{user.id}}</el-tag>
            用户名
            <el-tag>{{user.name}}</el-tag>
          </p>
          <div :id="`graph`+user.id" style="width: 100%;height:400px;"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import api from '../utils/api'
  import filter from 'lodash/filter'

  let echarts = require('echarts');

  function getNormalDate(timestamp) {
    return timestamp - timestamp % ((60000) * (15 * 1)) + new Date().getTimezoneOffset() * 60000
  }

  export default {
    data() {
      return {
        all: null,
        labeled: null,
        correct: null,
        wrong: null,
        users: [],
        dialogFormVisible: false,
        form: {
          name: null
        }
      }
    },
    async created() {
      this.all = (await api.get('/api/gux123/count')).count
      this.labeled = (await api.get('/api/gux123/count?is_labeled=true')).count
      this.correct = (await api.get('/api/gux123/count?is_labeled=true&is_correct=true')).count
      this.wrong = (await api.get('/api/gux123/count?is_labeled=true&is_correct=false')).count
      this.users = await api.get('/api/users')
      for (let user of this.users) {
        let details = await api.get('/api/labelHistory', {user: user.id, _sort: 'createdAt'})
        this.$set(user, 'details', details)
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById(`graph` + user.id));
        let rawData = {}
        let xAxis = []
        let data = []
        for (let detail of user.details) {
          if (!rawData[getNormalDate(detail.createdAt)]) {
            rawData[getNormalDate(detail.createdAt)] = 1;
          } else {
            rawData[getNormalDate(detail.createdAt)]++;
          }
        }
        console.log(rawData)
        for (let item in rawData) {
          xAxis.push(new Date(parseInt(item)).toLocaleTimeString());
          data.push(rawData[item])
        }
        // 绘制图表
        myChart.setOption({
          title: {
            text: `${user.name} 标注`
          },
          tooltip: {},
          xAxis: {
            data: xAxis
          },
          yAxis: {},
          series: [{
            name: '标注量',
            type: 'bar',
            data: data
          }]
        });
      }
    },
    mounted() {

    },
    computed: {},
    methods: {
      async onAddUser() {
        this.dialogFormVisible = false;
        await api.post('/api/users', {name: this.form.name});
      }
    }
  }
</script>

<style lang="scss">
  .box-card {
    text-align: center;
    width: 400px;
  }
</style>
