<template>
  <div @keydown.stop.prevent.68="doDelete"
       @keydown.stop.prevent.67="doConfirm"
       @keydown.stop.prevent.38="doPre"
       @keydown.stop.prevent.37="doPre"
       @keydown.stop.prevent.39="doNext"
       @keydown.stop.prevent.40="doNext"
       @keydown.stop.prevent.8="doDeleteMarquee"
       class="no-outline shadow-block clearfix express-label"
       tabindex="0"
       v-loading="loading">
    <div class="utils shadow-block p">
      <el-row>
        <el-switch
          style="display: block"
          v-model="labelClass"
          active-color="#13ce66"
          inactive-color="#ff4949"
          active-text="手写"
          inactive-text="机打"
          active-value="hand"
          inactive-value="print"
          @change="currentMarquee.class = arguments[0]">
        </el-switch>
      </el-row>
      <p>当前进度{{start + current}}
        <el-progress :text-inside="true" :stroke-width="18" :percentage="percentage"></el-progress>
      </p>
      <p v-if="images[current]">
        <el-button @click="doConfirm" type="success" :disabled="images[current].is_correct">标记为正确(C)</el-button>
        <el-button @click="doDelete" type="danger" :disabled="!images[current].is_correct">标记为有误(D)</el-button>
      </p>
      <p>
        <el-tag v-if="images[ current ] && images[ current ].is_labeled" type="success">
          已修改{{images[current].times}}次
        </el-tag>
        <el-tag v-else type="danger">未标注</el-tag>
        <el-tag v-if="images[ current ] && images[ current ].is_labeled && images[ current ].is_correct" type="success">
          已矫正
        </el-tag>
        <el-tag v-else-if="images[ current ] && images[ current ].is_labeled && !images[ current ].is_correct"
                type="danger">有误或未矫正
        </el-tag>
      </p>
      <div class="thumb-wrapper">
        <img v-for="(image,index) in images" :src="image.img_url" alt=""
             :class="{'thumb':true,'shadow-block':true,'success':image.is_labeled && image.is_correct,'danger':image.is_labeled && !image.is_correct,'selected': index === current}"
             @click="$router.push(`/express_label?start=${start}&current=${index}&limit=${limit}`)">
      </div>
    </div>
    <div class="kuaididan p clearfix">
      <div v-if="images[current]" v-loading="loading" style="position: absolute">
        <img :src="images[current].img_url" alt=""
             :class="['shadow-block',images[current].is_correct?'success':'error']" @click="currentMarquee=null">
        <Marquee v-for="marquee of images[current].blocks_configure"
                 v-model="marquee.bbox"
                 :score="marquee.score"
                 :_class="marquee.class"
                 :active="isMarqueeActive(marquee)"
                 :key="marquee.score+marquee.bbox[0]+marquee.bbox[1]"
                 @click.native.stop="currentMarquee = marquee"
                 @finished="UpdateConfigure"
                 @startchange="currentMarquee = marquee"></Marquee>
      </div>
    </div>
  </div>
</template>

<script>
  import Marquee from './Marquee.vue'
  import api from '../utils/api'
  import indexOf from 'lodash/indexOf'
  import cloneDeep from 'lodash/cloneDeep'
  import unset from 'lodash/unset'
  import set from 'lodash/set'

  export default {
    data() {
      return {
        currentMarquee: null,
        count: 10000000,
        labelClass: 'hand',
        images: [],
        start: null,
        limit: null,
        current: null,
        showAll: true,
        loading: false
      }
    },
    async created() {
      // 第一次进入时进行初始化赋值
      // 由于vue-router的beforeRouteEnter方法不能使用this实例
      // 所以需要在第一次进入时对路由参数进行手动赋值
      // 目前路由参数如下，该部分逻辑可以自己进行修改
      // start: 该图在数据库中的开始位置
      // limit: 一次刷新几张图
      // current: 当前图是一组图中的第几个
      let count = await api.get(`/api/gux123/count`)
      this.count = count.count
      this.current = parseInt(this.$route.query.current)
      this.start = parseInt(this.$route.query.start)
      this.limit = parseInt(this.$route.query.limit)
      // Sync函数是从后端获取数据并赋值
      await this.Sync(this.start, 0, this.limit)
    },
    mounted() {
      // this.$el不为空时，对标注面板进行鼠标事件绑定
      // 主要的功能是点击空白处拖动可以新增一个选取框
      // 现在只支持从左上忘右下拉动
      $(this.$el).children('.kuaididan').custommouse({
        mouseStart: (e) => {
          let currentMarquees = this.images[this.current].blocks_configure
          let initX = e.clientX - parseFloat($(this.$el).children('.kuaididan')[0].getBoundingClientRect().left) - parseFloat($(this.$el).children('.kuaididan').css('padding'))
          let initY = e.clientY - parseFloat($(this.$el).children('.kuaididan')[0].getBoundingClientRect().top) - parseFloat($(this.$el).children('.kuaididan').css('padding'))
          currentMarquees.push({
            score: 1,
            class: this.labelClass,
            bbox: [initX, initY, initX, initY]
          })
          this.currentMarquee = currentMarquees[currentMarquees.length - 1]
        },
        mouseDrag: (e) => {
          let X = e.clientX - parseFloat($(this.$el).children('.kuaididan')[0].getBoundingClientRect().left) - parseFloat($(this.$el).children('.kuaididan').css('padding'))
          let Y = e.clientY - parseFloat($(this.$el).children('.kuaididan')[0].getBoundingClientRect().top) - parseFloat($(this.$el).children('.kuaididan').css('padding'))
          this.currentMarquee.bbox = [this.currentMarquee.bbox[0], this.currentMarquee.bbox[1], X, Y]
        },
        mouseStop: (e) => {
          let threshold = 30;
          let currentMarquees = this.images[this.current].blocks_configure;
          if ((this.currentMarquee.bbox[2] - this.currentMarquee.bbox[0]) < threshold || (this.currentMarquee.bbox[3] - this.currentMarquee.bbox[1]) < threshold) {
            currentMarquees.splice(indexOf(currentMarquees, this.currentMarquee), 1)
          } else {
            this.UpdateConfigure()
          }
        }
      })
      this.$el.focus();
    },
    methods: {
      isMarqueeActive(marquee) {
        return this.currentMarquee === marquee
      },
      doDeleteMarquee() {
        let currentMarquees = this.images[this.current].blocks_configure;
        if (~indexOf(currentMarquees, this.currentMarquee)) {
          currentMarquees.splice(indexOf(currentMarquees, this.currentMarquee), 1)
          this.UpdateConfigure()
        }
      },
      async doDelete(e) {
        // 标记为有误
        await api.patch('/api/gux123', this.images[this.current].id, {
          is_correct: false
        })
        this.images[this.current].is_correct = false
        this.doNext()
        console.log('delete');
        this.$message.warning('标注为有误！');
      },
      async doConfirm(e) {
        // 标记为已标注并且提交变更
        await api.patch('/api/gux123', this.images[this.current].id, {
          is_labeled: true,
          is_correct: true,
          times: ++this.images[this.current].times
        }, {user: this.$store.state.user.id})
        this.images[this.current].is_correct = true
        this.images[this.current].is_labeled = true
        this.doNext()
        console.log('confirm');
      },
      doPre(e) {
        // 上翻
        let start = this.start
        let current = this.current
        let limit = this.limit
        if (current - 1 >= 0) {
          current--
        } else if (start - limit >= 1) {
          start = start - limit
          current = limit - 1
        } else {
          current = start
          start = 0
        }
        this.$router.push(`/express_label?start=${start}&current=${current}&limit=${limit}`)
      },
      doNext(e) {
        // 下翻
        this.current++;
        if (this.current >= this.limit) {
          this.start += this.limit
          this.current = 0
        }
        this.$router.push(`/express_label?start=${this.start}&current=${this.current}&limit=${this.limit}`)
      },
      async Sync(start, current, limit) {
        // 从后端同步配置数据和图片数据
        this.images = []
        this.loading = true
        let images = await api.get(`/api/gux123?_start=${start}&_limit=${limit}`)
        for (let i = 0; i < images.length; i++) {
//          let image = images[i]
//          this.images.splice(current + i, 1, image)
          this.images.push(images[i])
        }
        this.$message.success(`获取${images.length}成功！`);
        this.loading = false
      },
      async UpdateConfigure() {
        // 更新配置文件
        await api.patch('/api/gux123', this.images[this.current].id, {
          blocks_configure: this.images[this.current].blocks_configure,
          times: ++this.images[this.current].times,
          is_labeled: true
        })
        this.$message.success('修改成功！');
      }
    },
    components: {Marquee},
    computed: {
      percentage() {
        return parseFloat(((this.start + this.current) / this.count * 100).toFixed(2))
      }
    },
    async beforeRouteUpdate(to, from, next) {
      // 在当前路由改变，但是该组件被复用时调用
      // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
      // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
      // 可以访问组件实例 `this`
      this.current = parseInt(to.query.current)
      this.start = parseInt(to.query.start)
      this.limit = parseInt(to.query.limit)
      this.$store.dispatch('updatePage', this)
      if (!((to.query.start === from.query.start) && (to.query.limit === from.query.limit))) await this.Sync(this.start, 0, this.limit)
      next()
    }
  }
</script>

<style lang="scss">
  .express-label {
    width: 100%;
    height: 100%;
  }

  .utils {
    width: 200px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    .thumb-wrapper {
      width: 100%;
      overflow: scroll;
      .thumb {
        width: 100%;
        margin-bottom: 5px;
        box-sizing: border-box;
        opacity: 0.5;
        &.success {
          border: 5px green solid;
        }
        &.danger {
          border: 5px red solid;
        }
        &.selected {
          opacity: 1;
        }
      }
    }
  }

  .kuaididan {
    float: left;
    width: calc(100% - 200px);
    img {
      box-shadow: none;
      &.error {
        box-shadow: 0 0 10px 10px red;
      }
      &.success {
        box-shadow: 0 0 10px 10px green;
      }
    }
  }
</style>
