<template>
  <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
    <el-form-item label="名称">
      <el-input v-model="formLabelAlign.name"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="handleConfirm">确定
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  export default {
    name: "login",
    data () {
      return {
        labelPosition: 'right',
        formLabelAlign: {
          name: '',
        }
      }
    },
    methods: {
      async handleConfirm () {
        await this.$store.dispatch('user', this.formLabelAlign.name)
        this.$router.push('/test')
      }
    }
  }
</script>

<style scoped>

</style>
