<template>
  <div :class="['marquee',_class,'shadow-block',active?'active':'']">
    <div class="message p-h"
         :style="{background:score>=0.98?'rgba(0, 128, 0, 0.5)':'rgba(128, 0, 0, 0.5)'}">
      {{(score * 100).toFixed(2)}}%
    </div>
    <div class="resizable-corner tl"></div>
    <div class="resizable-corner t"></div>
    <div class="resizable-corner tr"></div>
    <div class="resizable-corner l"></div>
    <div class="resizable-corner r"></div>
    <div class="resizable-corner bl"></div>
    <div class="resizable-corner b"></div>
    <div class="resizable-corner br"></div>
  </div>
</template>

<script>
  import debounce from 'lodash/debounce'

  export default {
    // value是一个数组: [left,top,right,bottom]
    // socre是置信概率
    // _class为对不同类型的选取框进行颜色选定的选项
    // active为是否选中的flag，true的时候会把选取框背景透明度调高
    props: ['value', 'score', '_class', 'active'],
    data() {
      return {
        initTop: null,
        initLeft: null,
        initWidth: null,
        initHeight: null,
        initClientX: 0,
        initClientY: 0,
        currentCorner: null,
      }
    },
    created() {
    },
    mounted() {
      // 在组件显示时通过v-model传递的参数来对选取框位置进行赋值
      $(this.$el).css({
        left: (this.value[0]) + 'px',
        top: (this.value[1]) + 'px',
        width: (this.value[2] - this.value[0]) + 'px',
        height: (this.value[3] - this.value[1]) + 'px'
      })
      // 给当前组件挂载拖拽函数
      $(this.$el).draggable({
        start: () => {
          $('.marquee').css('z-index', 1)
          $(this.$el).css('z-index', 3000)
          this.$emit('startchange')
        },
        drag: () => {
        },
        stop: () => {
          this.emitInput(this.$el);
          this.$emit('finished')
        }
      });
      // 鼠标拖动角挂载拖动函数
      $(this.$el).children('.resizable-corner').custommouse({
        mouseStart: (e) => {
          $('.marquee').css('z-index', 1)
          $(this.$el).css('z-index', 3000)
          this.initTop = parseFloat($(this.$el).css('top'));
          this.initLeft = parseFloat($(this.$el).css('left'));
          this.initWidth = parseFloat($(this.$el).css('width'));
          this.initHeight = parseFloat($(this.$el).css('height'));
          this.initClientX = e.clientX;
          this.initClientY = e.clientY;
          this.currentCorner = e.target;
          this.$emit('startchange')
        },
        mouseDrag: (e) => {
          if (this.currentCorner) {
            if ($(this.currentCorner).hasClass('tl')) {
              $(this.$el).css({
                top: e.clientY + this.initTop - this.initClientY,
                left: e.clientX + this.initLeft - this.initClientX,
                width: this.initWidth - e.clientX + this.initClientX,
                height: this.initHeight - e.clientY + this.initClientY,
              })
            } else if ($(this.currentCorner).hasClass('t')) {
              $(this.$el).css({
                top: e.clientY + this.initTop - this.initClientY,
                height: this.initHeight - e.clientY + this.initClientY,
              })

            } else if ($(this.currentCorner).hasClass('tr')) {
              $(this.$el).css({
                top: e.clientY + this.initTop - this.initClientY,
                width: this.initWidth + e.clientX - this.initClientX,
                height: this.initHeight - e.clientY + this.initClientY,
              })

            } else if ($(this.currentCorner).hasClass('l')) {
              $(this.$el).css({
                left: e.clientX + this.initLeft - this.initClientX,
                width: this.initWidth - e.clientX + this.initClientX,
              })

            } else if ($(this.currentCorner).hasClass('r')) {
              $(this.$el).css({
                width: this.initWidth + e.clientX - this.initClientX,
              })
            } else if ($(this.currentCorner).hasClass('bl')) {
              $(this.$el).css({
                left: e.clientX + this.initLeft - this.initClientX,
                width: this.initWidth - e.clientX + this.initClientX,
                height: this.initHeight + e.clientY - this.initClientY,
              })
            } else if ($(this.currentCorner).hasClass('b')) {
              $(this.$el).css({
                height: this.initHeight + e.clientY - this.initClientY,
              })
            } else {
              $(this.$el).css({
                width: this.initWidth + e.clientX - this.initClientX,
                height: this.initHeight + e.clientY - this.initClientY,
              })
            }
          }
        },
        mouseStop: (e) => {
          this.currentCorner = null;
          this.emitInput(this.$el);
          this.$emit('finished')
        }
      });
    },
    methods: {
      // @input 返回当前组件位置大小参数
      emitInput() {
        let newValue = [
          parseFloat($(this.$el).css('left')),
          parseFloat($(this.$el).css('top')),
          parseFloat($(this.$el).css('left')) + parseFloat(this.$el.getBoundingClientRect().width),
          parseFloat($(this.$el).css('top')) + parseFloat(this.$el.getBoundingClientRect().height)
        ]
        this.$emit('input', newValue)
      }
    },
    computed: {},
    watch: {
      // 实时监测value的变化（本来value应该是响应式的，但是value作为对象内部的参数没有响应，所以需要实时监测变化）
      value(curVal, oldVal) {
        if (!$(this.$el).hasClass('.ui-draggable-dragging') && !$(this.$el).children('.resizable-corner').hasClass('.ui-draggable-dragging')) {
          if (this.$el) {
            $(this.$el).css({
              left: (this.value[0]) + 'px',
              top: (this.value[1]) + 'px',
              width: (this.value[2] - this.value[0]) + 'px',
              height: (this.value[3] - this.value[1]) + 'px'
            })
          }
        }
      },
      // 实时监测active变化，如果actice是true就把改组件移到最上层
      active(curVal, oldVal) {
        if (curVal) {
          $('.marquee').css('z-index', 1)
          $(this.$el).css('z-index', 3000)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $corner-size: 10px;

  .marquee {
    z-index: 1;
    background: rgba(230, 230, 230, 0.3);
    position: absolute;
    width: 0;
    height: 0;
    transition: background 0.5s ease-out;
    &.hand {
      background: rgba(255, 255, 120, 0.5);
      border: 4px solid rgba(255, 255, 0, 0.5);
      &.active {
        background: rgba(255, 255, 150, 0.1);
        border: 4px solid rgba(255, 255, 0, 1);
      }
    }
    &.print {
      background: rgba(80, 80, 255, 0.5);
      border: 4px solid rgba(0, 0, 255, 0.5);
      &.active {
        background: rgba(150, 150, 255, 0.1);
        border: 4px solid rgba(0, 0, 255, 1);
      }
    }
    .message {
      position: absolute;
      font-size: 10px;
      top: -30px;
      left: 0;
      color: white;
      /*background: rgba(255, 0, 0, 0.8);*/
    }
    .resizable-corner {
      background: rgba(200, 200, 200, 0.5);
      border: 1px solid rgba(120, 120, 120, 0.8);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
      position: absolute;
      width: $corner-size;
      height: $corner-size;
      &.tl {
        left: -$corner-size/2;
        top: -$corner-size/2;
      }
      &.t {
        left: calc(50% - #{$corner-size} / 2);
        top: -$corner-size/2;
      }
      &.tr {
        right: -$corner-size/2;
        top: -$corner-size/2;
      }
      &.l {
        left: -$corner-size/2;
        top: calc(50% - #{$corner-size} / 2);
      }
      &.r {
        right: -$corner-size/2;
        top: calc(50% - #{$corner-size} / 2);
      }
      &.bl {
        left: -$corner-size/2;
        bottom: -$corner-size/2;
      }
      &.b {
        left: calc(50% - #{$corner-size} / 2);
        bottom: -$corner-size/2;
      }
      &.br {
        right: -$corner-size/2;
        bottom: -$corner-size/2;
      }
    }
  }
</style>
