<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
      <el-col :span="6">
        <div class="shadow-block p">123</div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style lang="scss" scoped>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
</style>
