<template>
  <div class="shadow-block p">
    <p v-for="item of a[0].b">尽情期待
      <el-progress :percentage="item.d[0]"></el-progress>
    </p>
    <el-button @click="handle">++</el-button>
    <div class="test">
      <div class="child"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Test",
    data () {
      return {
        a: []
      }
    },
    created () {
      this.a = [ {
        b: [ { d: [ 1, 2, 3 ], e: 1 }, { d: [ 1, 2, 3 ], e: 1 }, { d: [ 1, 2, 3 ], e: 1 } ],
        c: 1
      }, { b: [ { d: [ 1, 2, 3 ], e: 1 }, { d: [ 1, 2, 3 ], e: 1 } ], c: 1 } ]
    },
    methods: {
      handle () {
        let buf = this.a[ 0 ].b
        buf.push({ d: [ 1, 2, 3 ], e: 1 })
        for (let i = 0; i < 100; i++) {
          setTimeout(() => {
            console.log(i)
            buf[ buf.length - 1 ].d = [ Math.random() * 100, 1, 1 ]
            // this.a[ 0 ].b[ 1 ] = Math.random()
          }, 50 * i)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .test {
    /*position: absolute;*/
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 5px solid red;
    .child {
      width: 20px;
      height: 20px;
      padding: 1px;
      margin: 1px;
      border: 1px solid red;
      position: absolute;
      left: 0;
      top: 0
    }
  }
</style>
