* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.no-outline:focus {
  outline: none;
}

.shadow-block {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

@function line($style) {
  @if $style != '' {
    @return '-';
  } @else {
    @return '';
  }
}

$map: (none: 0, auto: auto, ii: initial, ih: inherit, xxs: 2px, xs: 5px, sm: 10px, '': 15px, md: 20px, lg: 30px, xl: 40px, xxl: 50px,
  n-xxs: -2px, n-xs: -5px, n-sm: -10px, n: -15px, n-md: 20px, n-lg: 30px, n-xl: -40px, n-xxl: -50px);

$names: (m: margin, p: padding);
@each $n-key, $n-value in $names {
  @each $style, $padding in $map {
    $line: line($style);
    .#{$n-key}#{$line}#{$style} {
      #{$n-value}: $padding !important;
    }
  }

  @each $style, $padding in $map {
    $line: line($style);
    .#{$n-key}-v#{$line}#{$style} {
      #{$n-value}-top: $padding !important;
      #{$n-value}-bottom: $padding !important;
    }
  }

  @each $style, $padding in $map {
    $line: line($style);
    .#{$n-key}-h#{$line}#{$style} {
      #{$n-value}-left: $padding !important;
      #{$n-value}-right: $padding !important;
    }
  }

  $directions: (t: top, b: bottom, l: left, r:right);
  @each $d-key, $d-value in $directions {
    @each $style, $padding in $map {
      $line: line($style);
      .#{$n-key}-#{$d-key}#{$line}#{$style} {
        #{$n-value}-#{$d-value}: $padding !important;
      }
    }
  }
}
