<template>
  <div id="app">
    <el-menu
      default-active="/dashboard"
      class="app_top_menu"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      :router="true">
      <el-menu-item index="/dashboard">
        <img src="./assets/cheng.gif" alt=""
             style="height:100%;padding: 4px;box-sizing: border-box">
      </el-menu-item>
      <el-menu-item index="/data_sets">数据集</el-menu-item>
      <el-menu-item index="/task_center">任务中心</el-menu-item>
      <el-submenu index="3" v-if="$store.state.user.name !== null">
        <template slot="title">{{$store.state.user.name}}</template>
        <el-menu-item @click="$store.commit('deleteUser')" index="/login">切换用户</el-menu-item>
      </el-submenu>
    </el-menu>
    <div class="app_left_menu_wrapper">
      <el-menu
        default-active='2'
        class="app_left_menu"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        :router="true">
        <el-menu-item
          :index='"/express_label?start="+$store.state.user.start+"&current="+$store.state.user.current+"&limit="+$store.state.user.limit'>
          <i class="el-icon-menu"></i>
          <span slot="title">快递单标注</span>
        </el-menu-item>
        <el-menu-item index="/test">
          <i class="el-icon-setting"></i>
          <span slot="title">test</span>
        </el-menu-item>
      </el-menu>
    </div>
    <div class="app_mainContent_wrapper p">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {}
    },
    methods: {},
    async created () {
      // await this.$store.dispatch('user', 'guxiang')
    }
  }
</script>

<style lang="scss">
  #app {
    width: 100vw;
    height: 100vh;
    .app_top_menu {

    }
    .app_left_menu_wrapper {
      position: absolute;
      top: 61px;
      bottom: 0;
      overflow: scroll;
      .app_left_menu {
        min-height: 100%;
        &:not(.el-menu--collapse) {
          width: 200px;
        }
      }
    }
    .app_mainContent_wrapper {
      position: absolute;
      top: 61px;
      left: 200px;
      right: 0;
      bottom: 0;
      overflow: scroll;
    }
  }
</style>
